[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpickle = "*"
json5 = "*"
flask = "*"
flask-classful = "*"
p2pnetwork = "*"
requests = "*"
pycrypto = "*"

[dev-packages]

[requires]
python_version = "3.9"
